apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-deployment
  labels:
    app: php
spec:
  # How much replicas of a pod it can run
  replicas: 2
  selector:
    matchLabels:
      app: php
  template:
    metadata:
      labels:
        app: php
    spec:
      containers:
      - name: php-server
        image: lnachmias/php-webserver-example:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        
---
#Service file
apiVersion: v1
kind: Service
metadata:
  name: php-service
spec:
  selector:
    app: php
  ports:
    - name: http-web-svc
      protocol: TCP
      port: 80
      nodePort: 30270
  type: LoadBalancer
